.brand-logo{
  font-family: 'Pacifico', cursive;
}
.logo{
  Height: 100%;
}
.nav-wrapper{
  background-color: #40514E;
}
.Proyectos{
  font-family: 'Kaushan Script', cursive;
}
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }
#textoinicial{
  font-family: 'Griffy', cursive;
  font-size: 150px;
}
.titulo{
  font-family: 'Acme', sans-serif;
  text-align: center;
}
.cuerpo{
  text-align: center;
  font-family: 'Delius Unicase', cursive;
  font-size: 14px;
}
